@model ML.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    @using (Html.BeginForm("Signup", "Usuario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <br />
        <br />
        <div class="container">
            <div class="screen">
                <br />
                <br />
                <br />
                <br />
                <div class="screen__content">
                    <form class="login">
                        <h3 class="fw-bold" style="color: rgb(20,10,90)">Sign Up - Movie Project</h3>
                        <br>
                        <span style="color: rgb(20,10,90);">Llene los siguientes campos para crear un nuevo usuario</span>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <!--<input type="text" class="login__input" placeholder="Nombre">-->
                            @Html.TextBoxFor(model => Model.Nombre, new { @type = "text" , @class = "login__input" , @placeholder = "Nombre" })
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <!--<input type="text" class="login__input" placeholder="Username">-->
                            @Html.TextBoxFor(model => Model.Username, new { @type = "text" , @class = "login__input" , @placeholder = "Username" })
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <!--<input type="text" class="login__input" placeholder="Email">-->
                            @Html.TextBoxFor(model => Model.Email, new { @type = "text" , @class = "login__input" , @placeholder = "Email" })
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <!--<input type="password" class="login__input" placeholder="Password">-->
                            @Html.TextBoxFor(model => Model.Password, new { @type = "password" , @class = "login__input" , @placeholder = "Password" })
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" class="login__input" placeholder="Confirme Password">
                            <label id="errorpassword"></label>
                        </div>
                        <button class="button login__submit">
                            <span class="button__text">Log In Now</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <br />
                    <br />
                    <a style="color: white; padding: 25px;" href="@Url.Action("Login","Usuario")">
                        <i class="fa-solid fa-angles-left"></i>
                        <span>Volver al Login</span>
                    </a>
                    <br />
                    <br />
                    <div class="social-login">
                        <h3>log in via</h3>
                        <div class="social-icons">
                            <a href="#" class="social-login__icon fab fa-instagram"></a>
                            <a href="#" class="social-login__icon"><i class=" fa-brands fa-facebook"></i></a>
                            <a href="#" class="social-login__icon fab fa-twitter"></a>
                        </div>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <h6 style="color: lightblue; padding: 10px;">2023 - Todos los Derechos Reservados - DIGIS01 - México</h6>
    }

}
